<div class="container">
  <div class="row">
    <div class="col">
      <h1>Movella</h1>

      <form class="form-inline" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-lg w-75" [(ngModel)]="sQFromUser" name ="sQFromUser" placeholder="Search for a Movie"
            aria-label="Search">
        <!--<button class="btn btn-primary ml-3 btn-lg" role="button">Search</button>-->
        <a (click)="onSubmit(searchForm)" class="btn btn-primary ml-3 btn-lg">Search</a>
      </form>

    </div>
  </div>
</div>

<br>
<br>


<div class = "container">
  <div class="row">

    <div class="col-lg-4">
      <img src={{poster}} class="img-fluid" alt="Responsive image">
    </div>

    <div class="col-8">

      <div class="row no-gutters">
        <div class="d-flex justify-content-between">
          <h3><b>{{title}}</b> ({{year}})</h3>
          <h6> [{{rated}}]</h6>
        </div>
      </div>

      <div class="row no-gutters">
        <p>IMDb Rating: {{imdbRating}}</p>
      </div>

      <div class="row no-gutters">
        <h5><b>Plot</b></h5>
        <p>{{plot}}</p>
      </div>
      <hr>

      <div class="row no-gutters">

        <div class="col">
          <small><b>Director: </b> {{director}}</small>
          <br>
          <small><b>Actors: </b> {{actors}}</small>
          <br>
          <small><b>Released: </b> {{released}}</small>
          <br>
          <small><b>Runtime: </b> {{runtime}}</small>
        </div>

        <div class="col">
          <small><b>Awards: </b> {{awards}}</small>
          <br>
          <small><b>Box Office: </b> {{boxOffice}}</small>
          <br>
          <small><b>Language: </b> {{language}}</small>
          <br>
          <small><b>Production: </b> {{production}}</small>
        </div>

      </div>

    </div>

  </div>
</div>

<br>
<br>
