
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <ul class="navbar-nav">

    <!-- maybe we could add a link to the home page here? -->
    <div class = "navbar-header">
      <a class = "navbar-brand" href = "https://www.cdm.depaul.edu/academics/pages/courseinfo.aspx?Subject=CSC&CatalogNbr=436" target="_blank">CDM Page</a>
    </div>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="hrefDropdown" role="button" data-toggle="dropdown">
        Dropdown 1
      </a>
      <div class="dropdown-menu" aria-labelledby="hrefDropdown">
       <a class="dropdown-item" href="movie-detail">Movie Detail</a>
        <a class="dropdown-item" href="todo">Todo</a>
      </div>
    </li>

<!-- another way to do a dropdown -->
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dropdown 2</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/movie-detail">Movie Detail</a>
          <a class="dropdown-item" href="todo">Todo</a>
        </div>
    </ul>


  </ul>
</nav>
<br />
<br />
<br />


<!--Seach Bar and Button-->


<div class="container">
  <div class="row">
    <div class="col">
      <h1>Movie App</h1>  

      <form class="form-inline">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-lg w-75" type="text" placeholder="Search for a Movie"
          aria-label="Search">
        <button type="button" class="btn btn-primary ml-3 btn-lg">Search</button>
      </form>

    </div>
  </div>
</div>

<br>
<br>

<!--Tiles-->
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h3>Suggested Movies</h3>
      <div class="list-group"> 
        <a href="movie-detail" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Movie 1</h5>
            <small>2006</small>
          </div>
          <p class="mb-0 h6">Movie Description</p>
          <small>Directed by: Director 1</small><br>
          <small>Featuring: Artist 1, Artist 2, Artist 3 ...</small>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Movie 2</h5>
            <small>1977</small>
          </div>
          <p class="mb-0 h6">Movie Description</p>
          <small>Directed by: Director 2</small><br>
          <small>Featuring: Artist 1, Artist 2, Artist 3 ...</small>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Movie 3</h5>
            <small class="text-muted">2018</small>
          </div>
          <p class="mb-0 h6">Movie Description</p>
          <small>Directed by: Director 3</small><br>
          <small>Featuring: Artist 1, Artist 2, Artist 3 ...</small>
        </a>
      </div>
    </div>


    <div class="col-md-4">
      <div class="list-group"> 
        <h3>Forum Topics</h3>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 1</h5>
            <small>Today</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 2</h5>
            <small class="text-muted">1 days ago</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 3</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 4</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Movie of the Week</h3>
      <div class="card">
        <!-- Card image -->
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/52/Good_Will_Hunting.png" alt="Card image cap">
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title"><a>Good Will Hunting (1993)</a></h4>
          <!-- Text -->
          <p class="card-text">Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life..</p>
          <!-- Button -->
          <a href="#" class="btn btn-primary" href="movie-detail">Details</a>
        </div>
      </div>

    </div>


  </div>
</div>






<router-outlet></router-outlet>
