
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">

    <!-- maybe we could add a link to the home page here? -->
    <div class = "navbar-header">
      <!--    Opens HomePage in new tab
        <a class = "navbar-brand" href='' target="_blank">Movie App</a>
      -->
      <a class="navbar-brand" [routerLink]="['/home']">Movella</a>
    </div>


    <a class="nav-link" [routerLink]="['/search-movie']">Search Movies</a>
    <a class="nav-link" [routerLink]="['/movie-detail']">Movie Detail</a>
    <a class="nav-item nav-link" [routerLink]="['/forum']">Forum</a>
    <a class="nav-link" [routerLink]="['/favorites']">Favorites</a>

  </ul>
</nav>
<br />
<br />
<br />

<!--<app-home></app-home>-->
<router-outlet></router-outlet>
