.card-title{
    font-size: 14pt;
}

.card-text{
    font-size: 10pt;
}

h2{
    color: rgb(110, 112, 112);
}

h2{
    font-size: xx-large;
    position: relative;
    text-align: center;
}

.card {
    border: 5px solid lightgrey;
    width: 400px;
    margin: 15px;
}

.card-deck {
    position: relative;
    align-content: center;
    max-width: 1050px;
} 

.card-text {
    position: static;
    margin-block-end: 30px;
    font-size: 10pt;
}

img {
    align-self: center;
    height: 450px;
    width: 310px;
}

form {
    align-self: center;
}

