<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Favorites</title>
</head>


<!-- This code was to test if the search results page was talking to the favorites page
  <app-movie-search (addFaveEvent)="addToFaves($event)"> </app-movie-search>
-->

<h2 style="text-align: center">
  Favorites
</h2>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="card" *ngFor="let card of Cards; let index = index;">
           <img class="card-img-top" src={{card.poster}} alt="Card image cap">
           <div class="card-body">
            <h5 class="card-title">
                <a style="cursor:pointer" href="movie-detail" (click)="redirectToDetail(card.title)">
                {{card.title}} ({{card.year}})</a>
            </h5>
            <p class="card-text">
              <b>Directed By:</b> {{card.director}} <br> <br>
              <b>Starring:</b> {{card.actors}}
            </p>    
          </div>
          <div class="card-footer">
            <button (click)="removeCards(Cards.indexOf(card))" type="button" class="btn btn-outline-danger">
             <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
             </svg>
            </button>
          </div>
        </div>
      </div>
    </div>