<!--Search Bar and Button-->

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Movella</h1>
    </div>
  </div>
</div>

<br>
<br>

<!--Tiles-->
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h3>Suggested Movies</h3>

      <div class="list-group">
        <div class="suggestions" *ngFor="let movie of suggestions">
          <a style="cursor:pointer" href="movie-detail" (click)="redirectToDetail(movie.Title)" class="list-group-item list-group-item-action flex-column align-items-start">          
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">{{movie.title}}</h5>
            <small>{{movie.year}}</small>
          </div>
          <small>Directed by: {{movie.director}}</small><br>
          <small>Featuring: {{movie.actors}}</small>
        </a></div>
      </div>
      
    </div>


    <div class="col-md-4">
      <h3>Forum Topics</h3>
      <div class="list-group">
        <a href="forum" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 1</h5>
            <small>Today</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 2</h5>
            <small class="text-muted">1 days ago</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 3</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h4">Topic 4</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-2 h6">#threads/responses</p>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Movie of the Week</h3>
      <div class="card">
        <!-- Card image -->
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/52/Good_Will_Hunting.png" alt="Card image cap">
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title"><a>Good Will Hunting (1993)</a></h4>
          <!-- Text -->
          <p class="card-text">Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life..</p>
          <!-- Button -->
          <a href="#" class="btn btn-primary" href="movie-detail">Details</a>
        </div>
      </div>

    </div>


  </div>
</div>
